<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="system">
    <map/>
    <node name="ChartTemplate">
      <map/>
      <node name="24">
        <map>
          <entry key="historicalTesterChart" value="false"/>
          <entry key="isAutoShiftActive" value="0"/>
          <entry key="isMouseCursorVisible" value="0"/>
          <entry key="offerSideName" value="BID"/>
          <entry key="theme" value="WaveFX"/>
          <entry key="pointAndFigureType" value="BOX"/>
          <entry key="instrumentName" value="EUR/USD"/>
          <entry key="maxPrice" value="1.32541"/>
          <entry key="tradeBarType" value="BAR"/>
          <entry key="endTime" value="1372183200000"/>
          <entry key="renkoType" value="BRICK"/>
          <entry key="dataUnitWidth" value="15"/>
          <entry key="yAxisPadding" value="0.025"/>
          <entry key="chartShiftInPx" value="216"/>
          <entry key="dataType" value="TIME_PERIOD_AGGREGATION"/>
          <entry key="candleType" value="CANDLE"/>
          <entry key="isVerticalMovementEnabled" value="0"/>
          <entry key="tickType" value="LINE"/>
          <entry key="priceRangeType" value="RANGE_BAR"/>
          <entry key="isGridVisible" value="1"/>
          <entry key="periodUnit" value="Hour"/>
          <entry key="filter" value="ALL_FLATS"/>
          <entry key="minPrice" value="1.3059"/>
          <entry key="periodUnitsCount" value="1"/>
        </map>
        <node name="Themes">
          <map/>
          <node name="WaveFX">
            <map/>
            <node name="Colors">
              <map>
                <entry key="AXIS_LABEL_BACKGROUND_BID" value="ffffff"/>
                <entry key="NEUTRAL_BAR" value="808080"/>
                <entry key="BID" value="000000"/>
                <entry key="PERIOD_SEPARATORS" value="666666"/>
                <entry key="ORDER_TRACKING_LINE" value="000000"/>
                <entry key="AXIS_PANEL_BACKGROUND" value="e6e6e6"/>
                <entry key="CANDLE_BEAR_BORDER" value="000000"/>
                <entry key="LAST_CANDLE_TRACKING_LINE" value="808080"/>
                <entry key="AXIS_PANEL_FOREGROUND" value="000000"/>
                <entry key="OUTLINE" value="666666"/>
                <entry key="CANDLE_BEAR_ROW" value="317da7"/>
                <entry key="CANDLE_BULL" value="ffffff"/>
                <entry key="EVEN_ROW" value="ffffff"/>
                <entry key="GRID" value="e6e6e6"/>
                <entry key="BAR_UP" value="ffffff"/>
                <entry key="DEFAULT" value="000000"/>
                <entry key="ASK" value="317da7"/>
                <entry key="AXIS_LABEL_FOREGROUND" value="404040"/>
                <entry key="HT_EQUITY" value="317da7"/>
                <entry key="ORDER_OPEN_BUY" value="00ff00"/>
                <entry key="ORDER_SHORT_POSITION_TRACKING_LINE" value="ff0000"/>
                <entry key="TEXT" value="000000"/>
                <entry key="ODD_ROW" value="f0f0f0"/>
                <entry key="META" value="000000"/>
                <entry key="HT_BALANCE" value="808080"/>
                <entry key="CANDLE_BULL_ROW" value="000000"/>
                <entry key="LINE_UP" value="317da7"/>
                <entry key="BACKGROUND" value="e6e6e6"/>
                <entry key="LINE_DOWN" value="317da7"/>
                <entry key="ORDER_OPEN_SELL" value="ff0000"/>
                <entry key="AXIS_LABEL_BACKGROUND" value="ffffff"/>
                <entry key="ORDER_CLOSE_BUY" value="ff0000"/>
                <entry key="DRAWING" value="000000"/>
                <entry key="BAR_DOWN" value="929192"/>
                <entry key="ORDER_LONG_POSITION_TRACKING_LINE" value="00ff00"/>
                <entry key="OHLC" value="000000"/>
                <entry key="ORDER_CLOSE_SELL" value="00ff00"/>
                <entry key="AXIS_LABEL_BACKGROUND_ASK" value="ffffff"/>
                <entry key="CANDLE_BEAR" value="929192"/>
                <entry key="CANDLE_BULL_BORDER" value="000000"/>
                <entry key="HT_PROFIT_LOSS" value="317da7"/>
                <entry key="OHLC_BACKGROUND" value="000000"/>
                <entry key="DOJI_CANDLE" value="00ff00"/>
              </map>
            </node>
            <node name="Fonts">
              <map>
                <entry key="OHLC" value="rO0ABXNyAA1qYXZhLmF3dC5Gb250xaE15szeVnMDAAZJABlmb250U2VyaWFsaXplZERhdGFWZXJzaW9uRgAJcG9pbnRTaXplSQAEc2l6ZUkABXN0eWxlTAAUZlJlcXVlc3RlZEF0dHJpYnV0ZXN0ABVMamF2YS91dGlsL0hhc2h0YWJsZTtMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7eHAAAAABQRAAAAAAAAkAAAAAcHQADERpYWxvZyBJbnB1dHg="/>
                <entry key="AXIS" value="rO0ABXNyAA1qYXZhLmF3dC5Gb250xaE15szeVnMDAAZJABlmb250U2VyaWFsaXplZERhdGFWZXJzaW9uRgAJcG9pbnRTaXplSQAEc2l6ZUkABXN0eWxlTAAUZlJlcXVlc3RlZEF0dHJpYnV0ZXN0ABVMamF2YS91dGlsL0hhc2h0YWJsZTtMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7eHAAAAABQRAAAAAAAAkAAAAAcHQADERpYWxvZyBJbnB1dHg="/>
                <entry key="ORDER" value="rO0ABXNyAA1qYXZhLmF3dC5Gb250xaE15szeVnMDAAZJABlmb250U2VyaWFsaXplZERhdGFWZXJzaW9uRgAJcG9pbnRTaXplSQAEc2l6ZUkABXN0eWxlTAAUZlJlcXVlc3RlZEF0dHJpYnV0ZXN0ABVMamF2YS91dGlsL0hhc2h0YWJsZTtMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7eHAAAAABQRAAAAAAAAkAAAAAcHQADERpYWxvZyBJbnB1dHg="/>
                <entry key="META" value="rO0ABXNyAA1qYXZhLmF3dC5Gb250xaE15szeVnMDAAZJABlmb250U2VyaWFsaXplZERhdGFWZXJzaW9uRgAJcG9pbnRTaXplSQAEc2l6ZUkABXN0eWxlTAAUZlJlcXVlc3RlZEF0dHJpYnV0ZXN0ABVMamF2YS91dGlsL0hhc2h0YWJsZTtMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7eHAAAAABQRAAAAAAAAkAAAAAcHQADERpYWxvZyBJbnB1dHg="/>
                <entry key="DEFAULT" value="rO0ABXNyAA1qYXZhLmF3dC5Gb250xaE15szeVnMDAAZJABlmb250U2VyaWFsaXplZERhdGFWZXJzaW9uRgAJcG9pbnRTaXplSQAEc2l6ZUkABXN0eWxlTAAUZlJlcXVlc3RlZEF0dHJpYnV0ZXN0ABVMamF2YS91dGlsL0hhc2h0YWJsZTtMAARuYW1ldAASTGphdmEvbGFuZy9TdHJpbmc7eHAAAAABQRAAAAAAAAkAAAAAcHQADERpYWxvZyBJbnB1dHg="/>
              </map>
            </node>
            <node name="Strokes">
              <map/>
              <node name="DEFAULT">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value=""/>
                </map>
              </node>
              <node name="GRID_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAACP4AAAEAAAAA="/>
                </map>
              </node>
              <node name="LAST_CANDLE_TRACKING_LINE_STROKE">
                <map>
                  <entry key="StrokeWidth" value="1.0"/>
                  <entry key="StrokeDash" value="rO0ABXVyAAJbRgucgYki4AxCAgAAeHAAAAABQAAAAA=="/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="indicators">
          <map/>
          <node name="28">
            <map>
              <entry key="indicatorName" value="EMA"/>
              <entry key="subPanelId" value="-1"/>
              <entry key="recalculateOnNewCandleOnly" value="true"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="3"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramValue" value="5"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
          </node>
          <node name="50">
            <map>
              <entry key="indicatorName" value="EMA"/>
              <entry key="subPanelId" value="-1"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-14336"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-14336"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramValue" value="3"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="false"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
          </node>
          <node name="53">
            <map>
              <entry key="indicatorName" value="OsMAmod"/>
              <entry key="subPanelId" value="2"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-6052957"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-16776961"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramValue" value="12"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramValue" value="26"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramValue" value="5"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
          </node>
          <node name="56">
            <map>
              <entry key="indicatorName" value="OsMAmod"/>
              <entry key="subPanelId" value="3"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-6052957"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-16776961"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramValue" value="48"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramValue" value="104"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramValue" value="20"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
          </node>
          <node name="58">
            <map>
              <entry key="indicatorName" value="OsMAmod"/>
              <entry key="subPanelId" value="4"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-6052957"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-16776961"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramValue" value="288"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramValue" value="624"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramValue" value="120"/>
                  <entry key="paramType" value="INTEGER"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="subPanelHeights">
          <map/>
          <node name="1">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
          <node name="2">
            <map>
              <entry key="height" value="106"/>
            </map>
          </node>
          <node name="3">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
          <node name="4">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
          <node name="5">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
          <node name="6">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
          <node name="7">
            <map>
              <entry key="height" value="100"/>
            </map>
          </node>
        </node>
      </node>
    </node>
  </root>
</preferences>
